services:
  php:
    build:
      context: .
      dockerfile: ./php/Dockerfile
    image: php:8.2-apache
    ports:
      - "8080:80"  # Accessible to other devices on the network
    volumes:
      - ./src/:/var/www/html  # Mount PHP files from the current directory
    networks:
      - public
    depends_on:
      - mysql

  mysql:
    image: mariadb:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: devdb
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    volumes:
      - mysql-data:/var/lib/mysql

    ports:
      - "3306:3306"

    networks:
      - public

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql # Link to the MariaDB container service name
      MYSQL_ROOT_PASSWORD: rootpassword # Use the same root password as MariaDB
      PMA_PORT: 3306 # MariaDB's internal port
    ports:
      - "8081:80" # Expose phpMyAdmin on host port 8081
    depends_on:
      - mysql # Ensure MariaDB starts before phpMyAdmin
    networks:
      - public

volumes:
  mysql-data:

networks:
  public:
    driver: bridge
  private:
    internal: true
